[user]
  email = melvin.sy@outlook.com
  name = Melvin
[http]
  postBuffer = 524288000
[gitmoji]
  enable = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[init]
  defaultBranch = master
[core]
  editor = vim
  autocrlf = input
  fscache = true
  whitespace = cr-at-eol
  eol = lf
[color]
  diff = auto
  status = auto
  branch = auto
[pull]
  rebase = true
[rebase]
  autosquash = true
  autoStash = true
[alias]
  all = "!f() { ls -R -d */.git | xargs -I{} bash -c \"echo {} && git -C {}/../ $*\"; }; f"
  sweep = "!f() { git branch --merged | egrep -v \"(^\\*|master|main)\" | xargs git branch -d; }; f"
  # Git pull from remote(origin) feature branch
  rema = pull --rebase origin master
  pfl = push --force-with-lease
  ptr = push -u origin HEAD

  ac = !git add -A && git commit
  s = status -s
  ca = commit --amend

  # Git stash
  st = stash
  stp = stash pop
  stl = stash list
  sts = stash show
  stc = stash clear
  
  # Git checkout
  co = checkout
  cob = checkout -b

  # Git reset
  re1 = reset HEAD^
  res = reset --soft HEAD^
  reh = reset --hard
  rec = !git reh && git clean -fd

  # Git Log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

  # Git ignore files (LOCAL)
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"

  # Git list aliases
  la = !git config -l | grep alias | cut -c 7-

  # Hide
  hide = update-index --skip-worktree
  unhide = update-index --no-skip-worktree
  unhide-all = ls-files -v | grep -i ^S | cut -c 3- | xargs git update-index --no-skip-worktree
  hidden = ! git ls-files -v | grep '^S' | cut -c3-
[push]
	autoSetupRemote = true
